.pictures {
  max-width: 981px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 40px;
  padding: 10px;
}
.pictures .holder {
  position: relative;
  width: 298px;
  height: 347px;
}
.pictures .holder img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 980px) {
  .pictures {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
  }
  .pictures .holder {
    margin-bottom: 20px;
  }
}