footer {
    height: 100px;
    background-color: #79addc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 230px;
    

    .logo {
        display: flex;
        justify-content: center;
        width: 750px;
    }

    .copyright {
        display: flex;
        justify-content: center;
        width: 750px;
        color: white;
    }

    .sm {
        display: flex;
        justify-content: center;
        width: 750px;
        color: white;
    }
}