.pictures{
    max-width: 981px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 40px;
    padding: 10px;
    
    .holder {
        position: relative;
        width: 298px;
        height: 347px;
        //background-color: red;

        img{
            width: 100%;
            height: 100%;
        }
        
    }
}



@media only screen and (max-width:980px){
    .pictures{
        flex-direction: column;
        align-items: center;
        padding: 20px;

        .holder{
            margin-bottom: 20px;
        }
    }
}